<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/encounter.html}">
<head>
    <title th:text="${title}" />
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="${title}" />
    <img th:src="@{'/images/' + ${encounterType} + '/' + ${imageName} + '.png'}" class="area-thumbnail" />

    <div th:each="log : ${logs}">
        <p th:text="${log}" />
    </div>

    <p>Back to <a
            th:href="@{'/map/' + ${location.slug}}"
            th:text="${location.name}" />
    </p>
</section>
</body>
</html>