<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{layout/area.html}">
	<head>
		<title>The Towering Tree Forest</title>
	</head>
	<body>
			<h1 layout:fragment="area-title" style="background-color: #040;">The Towering Tree Forest</h1>

			<p layout:fragment="area-description">You stand in a forest surrounded by towering, tall trees. The sound of birds chirping surrounds you. You crane your neck upward, but spy only a thick canopy of branches and leaves far above you.</p>

			<section layout:fragment="area-actions">
				<li>Look under the leaves</li>
			</section>
	</body>
</html>