#mainContainer {
    border: 2px solid black;
    background: white;
    padding: 8px;
    width: 960px;
}

#mainContent {
    width: 700px;
    margin: 0px;
}

#sidebar {
    width: 210px;
    border-left: 3px double black;
    height: 100%;
    padding: 8px;
}

#header {
    padding-bottom: 16px;
}