<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/layout.html}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/maps/areas.css}" />
	</head>
	<body>
		<section id="mainContent" layout:fragment="content">
			<div layout:insert="~{fragments/areas/area-details}" />

			<h2>Actions:</h2>

			<p th:text="'You have ' + ${turnsLeft} + ' turns.'" />

			<ul>
				<span layout:insert="~{fragments/areas/top-common-actions}" />
				<section layout:fragment="area-actions">
					<li><a href="#">Do stuff</a></li>
				</section>
				<span layout:insert="~{fragments/areas/bottom-common-actions}" />
			</ul>
		</section>
	</body>
</html>