<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Dungeons of the Sultanate Layout Page</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ddd; padding: 8px; border: 8px solid #888;">
<div class="container" style="border: 2px solid black; background-color: white; padding: 8px;">
    <section layout:fragment="content">
        <p>Content goes here.</p>
    </section>
</div>
</body>
</html>