<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Dungeons of the Sultanate Layout Page</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ddd; padding: 8px; border: 8px solid #888;">
<div id="mainContainer" class="row">
    <section layout:fragment="content" class="col-md">
        <p>Content goes here.</p>
    </section>
    <section layout:insert="~{fragments/sidebar}" class="col-md" />
</div>
</body>
</html>