<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
    <head>
        <title>World Map</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/maps.css}" />
    </head>
    <body>
        <section layout:fragment="content">
            <p th:text="'Welcome back, ' + ${authenticatedAs} + '!'" />

            <h1>Locations</h1>
            <!-- TODO: grid layout would be fantastico -->
            <span th:each="location : ${locations}">
                <a th:href="@{'/map/' + ${location.slug}}">
                    <img th:src="@{'/images/' + ${location.slug} + '/banner.png'}" class="area-thumbnail" />
                    <p th:text="${location.name}" />
                </a>
            </span>
        </section>
    </body>
</html>